.payment__containe {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  width: 100% !important;
  padding: 0 !important;
  border: 1px solid rgb(233, 230, 230) !important;
}

img {
  object-fit: cover;
  height: 30px;
  width: 80px;
}
